<%- include("header.ejs") %>

<div class="entercontent">
    <form action="/blogs" method="post">
        <div class="title">
            <label for="title">Title : </label>
            <br>
            <input class="title-text" type="text" name="title">    
        </div>
        <br>
        <div class="content">
            <label for="title">Content : </label>
            <br>
            <input class="content-text" type="text" name="content">    
        </div>
        <br>
        <button class="publish">Publish</button>
    </form>
</div>
