<%- include("header.ejs") %>


<div class="maincontent">
    <img src="/images/laptop.jpeg" alt="Person typing on laptop" />

    <div class="heading">
      <h1>THOUGHTS UNVEILED</h1>
      <h2>PERSONAL BLOG</h2>
      <form class="home-buttons" action="/compose" method="POST">
        <button class="compose">Compose</button>
      </form>
      <form class="home-buttons" action="/blogs" method="post">
        <button class="view-blogs">View Blogs</button>
      </form>
      
    </div>

</div>
